{{>header}}
    <h1>Weather App</h1>
    <form>
        <input placeholder="Search for place ...">
        <button>Search</button>
    </form>

    
    <p id="loading"></p>
    <p id="result"></p>
{{>footer}}